@model ActivityListModel
<div class="container">
    <p><h6>Aşağıda şu an da ki ruh halinize en uygun olan öneriler listelenmektedir!</h6></p>
</div>
<!--Movies-->
<div id="carouselMovies" class="carousel slide" data-ride="carousel">
    <div class="container">
        <p class="display-4">Filmler </p>
    </div>
    <div class="carousel-inner">
        @{ int i = 0;}
        @foreach (var item in Model.ActivityAttributes)
        {
            if (item.ActivityID == 5 && !string.IsNullOrEmpty(item.Image)) //
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <div class="container">
                            <img src="~/theme/img1/@item.Image" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.AttributeName</h5>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                    i++;
                }
                else
                {
                    <div class="carousel-item">
                        <div class="container">
                            <img src="~/theme/img1/@item.Image" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.AttributeName</h5>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                    i++;
                }
            }
        }
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carouselMovies" data-slide-to="0" class="active"></li>
        @for (int a = 1; a < i; a++)
        {
            <li data-target="#carouselMovies" data-slide-to="@a"></li>
        }
    </ol>
    <a class="carousel-control-prev" href="#carouselMovies" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselMovies" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--Series-->
<div id="carouselSeries" class="carousel slide" data-ride="carousel">

    <div class="container">
        <p class="display-4">Diziler </p>
    </div>
    <div class="carousel-inner">
        @{ int j = 0;}
        @foreach (var item in Model.ActivityAttributes)
        {
            if (item.ActivityID == 3 && !string.IsNullOrEmpty(item.Image))
            {
                if (j == 0)
                {
                    <div class="carousel-item active">
                        <div class="container">
                            <img src="~/theme/img1/@item.Image" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.AttributeName</h5>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                    j++;
                }
                else
                {
                    <div class="carousel-item">
                        <div class="container">
                            <img src="~/theme/img1/@item.Image" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.AttributeName</h5>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                    j++;
                }
            }
        }
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carouselSeries" data-slide-to="0" class="active"></li>
        @for (int b = 1; b < j; b++)
        {
            <li data-target="#carouselSeries" data-slide-to="@b"></li>
        }
    </ol>
    <a class="carousel-control-prev" href="#carouselSeries" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselSeries" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--Musics-->
<div id="carouselMusics" class="carousel slide" data-ride="carousel">
    <div class="container">
        <p class="display-4">Müzikler </p>
    </div>
    <div class="carousel-inner">
        @{ int k = 0;}
        @foreach (var item in Model.ActivityAttributes)
        {
            if (item.ActivityID == 4 && !string.IsNullOrEmpty(item.Image))
            {
                if (k == 0)
                {
                    <div class="carousel-item active">
                        <div class="container">
                            <img src="~/theme/img1/@item.Image" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.AttributeName</h5>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                    k++;
                }
                else
                {
                    <div class="carousel-item">
                        <div class="container">
                            <img src="~/theme/img1/@item.Image" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.AttributeName</h5>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                    k++;
                }
            }
        }
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carouselMusics" data-slide-to="0" class="active"></li>
        @for (int c = 1; c < k; c++)
        {
            <li data-target="#carouselMusics" data-slide-to="@c"></li>
        }
    </ol>
    <a class="carousel-control-prev" href="#carouselMusics" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselMusics" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--e-Book-->
<div id="carouselebook" class="carousel slide" data-ride="carousel">
    <div class="container">
        <p class="display-4">Kitaplar </p>
    </div>
    <div class="carousel-inner">
        @{ int l = 0;}
        @foreach (var item in Model.ActivityAttributes)
        {
            if (item.ActivityID == 7 && !string.IsNullOrEmpty(item.Image))
            {
                if (l == 0)
                {
                    <div class="carousel-item active">
                        <div class="container">
                            <img src="~/theme/img1/@item.Image" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.AttributeName</h5>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                    l++;
                }
                else
                {
                    <div class="carousel-item">
                        <div class="container">
                            <img src="~/theme/img1/@item.Image" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.AttributeName</h5>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                    l++;
                }
            }
        }
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carouselebook" data-slide-to="0" class="active"></li>
        @for (int d = 1; d < l; d++)
        {
            <li data-target="#carouselebook" data-slide-to="@d"></li>
        }
    </ol>
    <a class="carousel-control-prev" href="#carouselebook" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselebook" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--documentary-->
<div id="carouseldoc" class="carousel slide" data-ride="carousel">
    <div class="container">
        <p class="display-4">Belgeseller </p>
    </div>
    <div class="carousel-inner">
        @{ int o = 0;}
        @foreach (var item in Model.ActivityAttributes)
        {
            if (item.ActivityID == 6 && !string.IsNullOrEmpty(item.Image))
            {
                if (o == 0)
                {
                    <div class="carousel-item active">
                        <div class="container">
                            <img src="~/theme/img1/@item.Image" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.AttributeName</h5>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                    o++;
                }
                else
                {
                    <div class="carousel-item">
                        <div class="container">
                            <img src="~/theme/img1/@item.Image" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.AttributeName</h5>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                    o++;
                }
            }
        }
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carouseldoc" data-slide-to="0" class="active"></li>
        @for (int g = 1; g < o; g++)
        {
            <li data-target="#carouseldoc" data-slide-to="@g"></li>
        }
    </ol>
    <a class="carousel-control-prev" href="#carouseldoc" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouseldoc" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--Games-->
<div id="carouselgame" class="carousel slide" data-ride="carousel">
    <div class="container">
        <p class="display-4">Oyunlar </p>
    </div>
    <div class="carousel-inner">
        @{ int p = 0;}
        @foreach (var item in Model.ActivityAttributes)
        {
            if (item.ActivityID == 8 && !string.IsNullOrEmpty(item.Image))
            {
                if (p == 0)
                {
                    <div class="carousel-item active">
                        <div class="container">
                            <img src="~/theme/img1/@item.Image" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.AttributeName</h5>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                    p++;
                }
                else
                {
                    <div class="carousel-item">
                        <div class="container">
                            <img src="~/theme/img1/@item.Image" class="d-block w-100" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.AttributeName</h5>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                    p++;
                }
            }
        }
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carouselgame" data-slide-to="0" class="active"></li>
        @for (int h = 1; h < p; h++)
        {
            <li data-target="#carouselgame" data-slide-to="@h"></li>
        }
    </ol>
    <a class="carousel-control-prev" href="#carouselgame" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselgame" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@await Component.InvokeAsync("CollectiveMenu")
